# Basic Data Types

1. Numbers
2. String
3. List
4. Tuple
5. Dictionary
6. Sets

In [3]:
# Numbers
# 1. Integers
# 2. Floats
# 3. Complex 
x = 456  # Integer
y = 3.14 #Float
z = 3.14+6j # Complex
print("X = ",type(x),x)
print('Y = ',type(y),y)
print('Z= ',type(z),z)

X =  <class 'int'> 456
Y =  <class 'float'> 3.14
Z=  <class 'complex'> (3.14+6j)

In [7]:
x = input("String input")
y = float(x)
print("Type of y : ",type(y))
print("Type of x : ",type(x))
print("X = {} \n Y = {} ".format(x,y))

String input77.89
Type of y :  <class 'float'>
Type of x :  <class 'str'>
X = 77.89
 Y = 77.89

In [4]:
x = 'single quoted string'
y = "double qouted string"
z = """HI 
This is multiline String.
        Define in triple quotes"""
print(x)
print(y)
print(z)

single quoted string
double qouted string
HI
This is multiline String.
        Define in triple quotes

In [5]:
print("He said,\"Python is Awesome\"")

He said,"Python is Awesome"

In [9]:
print('He said,"Python is Awesome"')

He said,"Python is Awesome"

In [10]:
s = "Python"
k = len(s)
print("Length of Python ",k)
print(s)
print(s[1])
print(s[-5])
print(s[3])
print(s[2])

Length of Python  6
Python
y
y
h
t

In [11]:
s = "Hello World"
print(len(s))
print(s[6:11])
print(s[6:11:2])

11
World
Wrd

In [13]:
s = "Python is Interpreted Language"
x = s[10:21]
y = s[:21]
z = s[21:]
p = s[:]
print(s)
print(x)
print(y)
print(z)
print(p)
print(s)

Python is Interpreted Language
Interpreted
Python is Interpreted
 Language
Python is Interpreted Language
Python is Interpreted Language

In [15]:
s = '0123456789'
k = s[::2]
print(k)
l = s[::-1]
print(l)
s = "Sachin@1234"
print(s[2:11:3])
print(s[-11:-1])
print(s[:-1])
print(s[-1:-11:-1])

02468
9876543210
cn2
Sachin@123
Sachin@123
4321@nihca

In [17]:
s = 'hello world how are you'
print(s[::-1])
print(s[-13:-18:-1])

uoy era woh dlrow olleh
dlrow

In [22]:
x = 'python'
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [23]:
s = "HeLlO WorLd"
k = s.upper()
l = s.lower()
h = s.swapcase()
print(s)
print(k)
print(l)
print(h)

HeLlO WorLd
HELLO WORLD
hello world
hElLo wORlD

In [24]:
s = 'PYthon'
doc = s.title.__doc__
print(doc)

S.title() -> str

Return a titlecased version of S, i.e. words start with title case
characters, all remaining cased characters have lower case.

In [26]:
s = "All Dogs are Cat but all Cats are not Dog."
k = s.find('Dog')
print(k)
l = s.replace('Dog','Cat')
print(s)
print(l)

4
All Dogs are Cat but all Cats are not Dog.
All Cats are Cat but all Cats are not Cat.

# LIST

In [30]:
mylist = [ 5,2,3,56,34,23,46,2] #it can be called array(Homogenous)
mylist1 = [ 'hello',3.14,[1,2,3],12345] #Hetrogenous List
print(*mylist)
print(*mylist1)
k = mylist[3:7]
print(*k)

5 2 3 56 34 23 46 2
hello 3.14 [1, 2, 3] 12345
56 34 23 46

In [31]:
l = [ 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(*l[3::3])
print(*l[::-1])
print(*l[::2])
print(*l[-20:-10])
print(*l[-5:-15:-2])

4 7 10 13 16 19
20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
1 3 5 7 9 11 13 15 17 19
1 2 3 4 5 6 7 8 9 10
16 14 12 10 8

In [32]:
mylist = [ 1,23,4,123,'hi',45,10,12,66,77,'hello']
print(dir(mylist))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

List Functions 

Functions that are used to add items into list

append
insert
extend

Functions that are used delete items from list

pop
remove

Some Common Functions of list

sort
revrese
count
index
copy
clear

In [34]:
#Functions that are used to add items
#append -> it will add a item at the end of the list use - mylist.append(item)
mylist = [ 1,23,4,23,'hi',45,10,12,66,77,'hello']
print(*mylist)
mylist.append('bye')
print(*mylist)
mylist.append(56)
mylist.append(24)
mylist.append(23)
print(*mylist)

1 23 4 23 hi 45 10 12 66 77 hello
1 23 4 23 hi 45 10 12 66 77 hello bye
1 23 4 23 hi 45 10 12 66 77 hello bye 56 24 23

In [38]:
mylist = [ 1,23,4,23,'hi',45,10,12,66,77,'hello']
print(*mylist)
#1 23 4 23 hi 45 10 12 66 77 hello bye 56 24 23
#insert -> it will take index number and item and add that item to given index
#use = mylist.insert(index,item)
mylist.insert(4,100)
mylist[5] = 23
print(*mylist)
#extend is used to add multiple items

1 23 4 23 hi 45 10 12 66 77 hello
1 23 4 23 100 23 45 10 12 66 77 hello

In [41]:
mylist = [ 1,23,4,23,'hi',45,10,12,66,77,'hello']
mylist.extend('python')
mylist.extend(['hello','world'])
print(mylist)

[1, 23, 4, 23, 'hi', 45, 10, 12, 66, 77, 'hello', 'p', 'y', 't', 'h', 'o', 'n', 'hello', 'world']

In [58]:
mylist = [1, 23,'python', 4, 23, 'hi',23, 45,'hello', 10, 12,23, 66, 77, 'hello', 'p', 'y', 't', 'h', 'o', 'n', 'hello', 'world']
mylist.pop();mylist.pop();mylist.pop()
mylist.pop();mylist.pop();mylist.pop()
mylist.pop();mylist.pop();mylist.pop()
print(mylist)
mylist.pop(2)
print(mylist)
mylist.remove('hi')
mylist.remove('hello')
mylist.remove(23)
print(mylist)
k = mylist.count(23)
mylist.reverse()
print(k)
print(mylist)
mylist1 = mylist.copy()
#mylist1.clear()
mylist1.sort()
print(mylist1)
mylist.sort(reverse=True)
print(mylist)
l = [ 'zello','yellow','hello','challo']
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[1, 23, 'python', 4, 23, 'hi', 23, 45, 'hello', 10, 12, 23, 66, 77]
[1, 23, 4, 23, 'hi', 23, 45, 'hello', 10, 12, 23, 66, 77]
[1, 4, 23, 23, 45, 10, 12, 23, 66, 77]
3
[77, 66, 23, 12, 10, 45, 23, 23, 4, 1]
[1, 4, 10, 12, 23, 23, 23, 45, 66, 77]
[77, 66, 45, 23, 23, 23, 12, 10, 4, 1]
['challo', 'hello', 'yellow', 'zello']
['zello', 'yellow', 'hello', 'challo']

In [61]:
l = [ var for var in range(100) ]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

# Tuple

Tuples are immutable data types that can not be changed after it's defination

In [12]:
mytuple = ('one',2,'three',2,[1,2,3,4],5,3,2,324,)
print(mytuple)
print(dir(mytuple))
print(mytuple[-1::-1])
print("2 is repeted {} times in tuple ".format(mytuple.count(2)))
print("Index of 3 is ",mytuple.index('three'))
print(mytuple[4][3])

('one', 2, 'three', 2, [1, 2, 3, 4], 5, 3, 2, 324)
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
(324, 2, 3, 5, [1, 2, 3, 4], 2, 'three', 2, 'one')
2 is repeted 3 times in tuple
Index of 3 is  2
4

In [13]:
#Example of 2 d list
mylist = [
    ['a[0][0]','a[0][1]','a[0][2]'],
    ['a[1][0]','a[1][1]','a[1][2]'],
    [ 'a[2][0]','a[2][1]','a[2][2]'],
]
    
print(mylist[2])
print(mylist[2][2])

['a[2][0]', 'a[2][1]', 'a[2][2]']
a[2][2]

In [14]:
mylist = [
    [1,2,45,34,234],
    [123,34,6,67,45],
    [23,4,7,78,[23,45,'hello',4]],
]
x = mylist[2][4][2]
print(x)

hello

# Dictionary

Dictionaries are collection of key and values.

In [21]:
mydict = {
    'name' : 'python',
    'scope' : 'World Wide',
    'build_year' : 1994,
    'Frame Works' : ['Django','Flask','Web2py','Pyramid'],
    'Father' : 'Guido Van Rossum',
    'Fields' : ['Scripting','Automation','Cloud','AI','ML','Data Science','Web Desgining','Software Development'],
    }
print(*mydict)
print(dir(mydict))
print(mydict.get('name'))
print(mydict.items())
print(mydict.keys())
print(mydict.values())
print(mydict.update.__doc__)

name scope build_year Frame Works Father Fields
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
python
dict_items([('name', 'python'), ('scope', 'World Wide'), ('build_year', 1994), ('Frame Works', ['Django', 'Flask', 'Web2py', 'Pyramid']), ('Father', 'Guido Van Rossum'), ('Fields', ['Scripting', 'Automation', 'Cloud', 'AI', 'ML', 'Data Science', 'Web Desgining', 'Software Development'])])
dict_keys(['name', 'scope', 'build_year', 'Frame Works', 'Father', 'Fields'])
dict_values(['python', 'World Wide', 1994, ['Django', 'Flask', 'Web2py', 'Pyramid'], 'Guido Van Rossum', ['Scripting', 'Automation', 'Cloud', 'AI', 'ML', 'Data Science', 'Web Desgining', 'Software Development']])
D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
In either case, this is followed by: for k in F:  D[k] = F[k]

In [38]:
mydict = {
    'name' : 'python',
    'scope' : 'World Wide',
    'build_year' : 1994,
    'frame_works' : ['Django','Flask','Web2py','Pyramid'],
    'father' : 'Guido Van Rossum',
    'fields' : ['Scripting','Automation','Cloud','AI','ML','Data Science','Web Desgining','Software Development'],
    }
print("Here Are your keys to select ")
print(*mydict.keys())
mydict['name'] = 'Python Programming Language'
key = input("Enter a key : ").strip().lower()
print("Your key is : {}".format(key))
value = mydict[key]
print(value)
#key = input("Enter a key")
#value = input("Enter a value for your key ")
#mydict[key] = value
mydict[input("Enter New Key : ")] = input("Enter your Value : ")
print(mydict[key],"sucessfully added")
print(mydict)

Here Are your keys to select
name scope build_year frame_works father fields
Enter a key : scope
Your key is : scope
World Wide
Enter your Value : 3
Enter New Key : hello
World Wide sucessfully added
{'name': 'Python Programming Language', 'scope': 'World Wide', 'build_year': 1994, 'frame_works': ['Django', 'Flask', 'Web2py', 'Pyramid'], 'father': 'Guido Van Rossum', 'fields': ['Scripting', 'Automation', 'Cloud', 'AI', 'ML', 'Data Science', 'Web Desgining', 'Software Development'], 'hello': '3'}

# SETS in Python

In [40]:
s1 = { 1,2,3,4,5 ,1,1,1,1,1,5,5,5,5}
s2 = { 4,5,6,7,8 ,8,8,8,8,8,5,5,5,5,}
print(s1)
print(s2)
print("Type os s1 = ",type(s1))
print(dir(s1))

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
Type os s1 =  <class 'set'>
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [42]:
s1 = { 1,2,3,4,5 ,1,1,1,1,1,5,5,5,5}
s2 = { 4,5,6,7,8 ,8,8,8,8,8,5,5,5,5,}
print(s1)
print(s2)
#value = s1.intersection(s2)
print("Intersection of s1 and s2 is ",s1.intersection(s2))
#value = s1.union(s2)
print("Unison of s1 and s2 is ",s1.union(s2))
value = s1.difference(s2)
print("Difference of {} with {} is {}.".format(s1,s2,value))

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
Intersection of s1 and s2 is  {4, 5}
Unison of s1 and s2 is  {1, 2, 3, 4, 5, 6, 7, 8}
Difference of {1, 2, 3, 4, 5} with {4, 5, 6, 7, 8} is {1, 2, 3}.

In [44]:
outer_list = []
inner_list = []

key1 = input("Enter key1 : ")
value1 = input("Enter value1 : ")
inner_list.append(key1)
inner_list.append(value1)
outer_list.append(inner_list)
d = dict(outer_list)
inner_list.clear()
key2 = input("Enter key2 : ")
value2 = input("Enter value2 : ")
inner_list.append(key2)
inner_list.append(value2)
outer_list.append(inner_list)
d.update(outer_list)
print(d)

Enter key1 : 1
Enter value1 : one
Enter key2 : 2
Enter value2 : two
{'1': 'one', '2': 'two'}

In [45]:
d = {
    input("Enter key1 : ") : input("Enter value 1 : "),
    input("Enter key2 : ") : input("Enter value 2 : "),
}
print(d)

Enter key1 : 1
Enter value 1 : one
Enter key2 : 2
Enter value 2 : two
{'1': 'one', '2': 'two'}